<div class="profiles-index ember">
  <header>
    <h1>Profiles Rendered With Ember.js {{emberVersion}}</h1>

    <div class="subheader">
      <div class="selection">
        {{selection.length}} Selected
      </div>

      <div class="pagination">
        {{#if prevPage}}
          {{#link-to 'profiles' (query-params page=prevPage)}}prev page{{/link-to}}
        {{/if}}

        {{#if nextPage}}
          {{#link-to 'profiles' (query-params page=nextPage)}}next page{{/link-to}}
        {{/if}}
      </div>
    </div>
  </header>

  <ul class="profiles">

    {{#each profiles as |item|}}
      <li class="{{if item.isSelected 'selected'}}">
        {{input type="checkbox" checked=item.isSelected}}
        {{gravatar-display email=item.email size="24"}}
        <div class="name">{{item.name}}</div>
        <div class="email">{{item.email}}</div>

        <ul class="tags">
          {{#each item.tags as |tagName|}}
            <li>{{tagName.name}}</li>
          {{/each}}
        </ul>

        <time class="createdAt" datetime=createdAt>{{time-ago item.createdAt}}</time>
      </li>
    {{/each}}
  </ul>
</div>
