<div class="profiles-index ember">
  <header>
    <h1>Profiles Rendered With Ember.js {{emberVersion}}</h1>

    <div class="subheader">
      <div class="selection">
        {{selection.length}} Selected
      </div>

      <div class="pagination">
        {{#if prevPage}}
          {{#link-to 'profiles' (query-params page=prevPage)}}prev page{{/link-to}}
        {{/if}}

        {{#if nextPage}}
          {{#link-to 'profiles' (query-params page=nextPage)}}next page{{/link-to}}
        {{/if}}
      </div>
    </div>
  </header>

  <ul class="profiles">
    {{#each item in this}}
      <li {{bind-attr class="isSelected:selected"}}>
        {{input type="checkbox" checked=isSelected}}
        {{gravatar-display email=item.model.email size="24"}}
        <div class="name">{{item.model.name}}</div>
        <div class="email">{{item.model.email}}</div>

        <ul class="tags">
          {{#each tagName in item.model.tags}}
            <li>{{tagName.name}}</li>
          {{/each}}
        </ul>

        <time class="createdAt" datetime=createdAt>{{time-ago item.model.createdAt}}</time>
      </li>
    {{/each}}
  </ul>
</div>
